.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100;
}

.navbar li {
    display: inline;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a.red {
    color: red;
}

.banner {
    background-color: crimson;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;

}

#smallbigal {
    height: 100px;
}

#social {
    color: crimson;
    font-size: 100px;
}

.social-section{
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

#greets ul{
    list-style-type: none;
}

.avatar{
    background-image: url('../images/bigal2.JPG');
    background-size: cover;
    background-position: 0% 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}